<h1>Listings for <%= @category.name %>:</h1>

<h3>Posted under <%= link_to @region.name, @region %></h3>

<% if signed_in? %>
  <div>
    <p> *** <%= link_to "New Post", new_region_category_post_path(@region, @category)%> *** </p>
  </div>
<% end %>

<%= render @posts %>
